.test{
    color: red;
}

.header{
    border-bottom: 1px solid #fff;
    padding: 10px 0;
}

.header .inner-logo img{
    max-width: 100%;
    max-height: 50px;
}

.header .inner-menu > ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.header .inner-menu > ul > li{
    margin-left: 20px;
}
/* end header*/
/* footer*/
.footer{
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px;
}
/*end footer*/
/*products*/
.box-head{
    margin-bottom: 30px;
}
.box-head .inner-title{
    margin-bottom: 0;
    font-size: 28px;
    font-weight: bold;
    color: green;
}
/* end box head*/
/* product-item*/
.product-item{
    border: 1px solid white;
    border-radius: 28px;
}
.inner-image img{
    margin: 10px;
    width: 375px;
    border-radius: 10px;
    height: 550px; object-fit: contain;
}

/* danh mục sản phẩm phía cliet"*/
.sub-menu{
    position: relative;
    z-index: 999;
}
.sub-menu ul{
    position: absolute;
    right: 0;
    top:100%;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #dcd7d7;
    min-width: 180px;
    display: none;
}
.sub-menu ul li{
    padding: 10px;
    border-bottom: 1px solid #fff;
}
.sub-menu:hover > ul{
    display: block;
}
.sub-menu ul li{
    position: relative;
}
.sub-menu ul li ul{
    right: 100%;
    top: 0;
}
.sub-menu ul li:hover > ul{
    display: block;
}
.image-container {
    height: 400px; /* Điều chỉnh chiều cao tùy ý */
    overflow: hidden; /* Đảm bảo hình ảnh không vượt ra khỏi container */
    position: relative;
}

.image-container img {
width: 100%;
height: 100%;
object-fit: cover; /* Đảm bảo hình ảnh đầy đủ, không bị bóp méo */
}
.inner-featured{
    position: absolute;
    top: 0;right: 0;
    color:#dcd7d7;
    background-color:rgb(255, 0, 89);
    padding: 3px;
    border-radius: 10px 0 10px 0;
}

/* css tran chi tiết sp -client"*/
.img-detail{
    width: 90%;
    height: 550px;
}
.product-detail .inner-title{
    font-size:32px;
    color:rgb(79, 179, 79)
}
.product-detail .inner-price-new{
    color: greenyellow;
    font-weight: 600px;

}
.product-detail .inner-price-old{
    color:red;
    font-weight: 600px;
    text-decoration: line-through;

}

.product-detail .inner-percent span{
    color: #fff;
    background-color: red;
    font-weight: 600px;
    display: inline-block;
}
.product-detail .inner-stock span{
    color: #fff;
    background-color: rgb(70, 230, 86);
    font-weight: 600px;
    display: inline-block;
}