.sider 
    .inner-menu 
        ul 
            li  
                a(href=`${prefixAdmin}/admin/dashboard`) Tổng quan 
            li 
                a(href=`${prefixAdmin}/admin/products`) Sản phẩm